
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <br />
        <br />
        <h1 class="display-4">Welcome to SLTC CMS</h1>
        <br />
        <div class="row justify-content-md-center">
            <div class="form-group col-md-2">
                <a asp-controller="Content" asp-action="Blog" class="btn-lg btn-success btn-block">Blog</a>
            </div>
        </div>
        <br />
        <h2 class="display-5">ASP.NET Core MVC</h2>
        <h2 class="display-5">Entity Framework Core</h2>
        <br />
        <br />
        <h3 class="display-6">Done By:</h3>
        <h3 class="display-6">Abdul Basith</h3>
        <h3 class="display-6">Harrydharshan Devdas</h3>
        <h3 class="display-6">Nirmalaraj Vinushan</h3>
    </div>


